<!--
  navbar-expand-sm bg-dark navbar-dark
  navbar navbar-expand-lg navbar-light bg-light rounded
-->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
 
  <a class="navbar-brand" href="#">
    <img class="logo" src="assets/icons/icon-navbar-title.png" style="height: 40px; width: 450px;">
  </a>
  <!--
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">YO SOY TU VOZ TU ERES MI ESCUCHA</a>
  -->
  <a class="navbar-brand" href="#">
      <img class="logo" src="assets/icons/auricular.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
    aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarsExample09">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link" *ngIf="loginbtn" routerLink="login" routerLinkActive="active">Login</a>
      </li>
      <!--
      <li class="nav-item">
        <button type="button" *ngIf="logoutbtn" class="btn btn-danger btn-block" (click)="logout()">logout</button>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="loginbtn" routerLink="registration" routerLinkActive="active">Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="logoutbtn" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      -->


    </ul>

  </div>
  <a class="navbar-brand" href="#" class="text-right">
    <img class="logo" src="assets/icons/icon-syc.png" style="height: 40px; width: 200px;">
  </a>
</nav>
<alert></alert>
<router-outlet></router-outlet>